/* Button Styles */
/* -----Border Styles----- */
.br-5{
    border-radius: 5px;
}
.br-50{
    border-radius: 50px;
}
.br-80{
    border-radius: 80px;
}
.b-1-b-s{
    border: 1px black solid;
}
.b-1-b-d{
    border: 1px black dashed;
}
.b-1-d8d8d8-s{
    border: 1px #d8d8d8 solid;
}
.b-1-dcd8d8-s{
    border : 1px #dcd8d8 solid
}
.b-n{
    border: none;
}