/* Card Styles */
.restaurant-card {
    border: 1px transparent solid;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}
.restaurant-card:hover {
    box-shadow: 0 2px 4px #FFEE33;
}
.restaurant-card img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}
.card {
    height: 320px;
    width: 285px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.card-image {
    width: 100px;
    height: 100px;
}