/* Color Styles */
/* -----Colour Styles */
.c-3d3d3d{
    color: #3d3d3d;
} 
.c-3d9b6d{
    color: #3d9b6d;
}
.c-g{
    color: gray;
}
.c-575757{
    color: #575757;
}
.c-3d3d3d{
    color: #3d3d3d;
}
/* Background Colour Styles */
.bc-277227{
    background-color: #277227;
}
.bc-w{
    background-color: #fff;
}
.bc-g{
    background-color: rgb(215, 215, 215);
}
.bc-f1f1f6{
    background-color:#F1F1F6 ;
}