@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Styling */
.fs-r{
    font-family: 'Roboto', sans-serif;
}
.fs-s{
    font-size: small;
}
.fs-m{
    font-size: medium;
}
.fw-400{
    font-weight: 400;
}
.fw-500{
    font-weight: 500;
}
.ls-1{
    letter-spacing: 1px;
}
.c-g{
    color: gray;
}
.c-575757{
    color: #575757;
}
.c-3d3d3d{
    color: #3d3d3d;
}
.fw-500{
    font-weight: 500;
}