/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Font Styles */
/* -----Font Family Styles */
.fs-r{
    font-family: 'Roboto', sans-serif;
}
/* -----Font Size Styles----- */
.fs-s{
    font-size: small;
}
.fs-m{
    font-size: medium;
}
.fs-s{
    font-size: smaller;
}
.fs-xxl{
    font-size: xx-large;
}
/* -----Font Weights----- */
.fw-400{
    font-weight: 400;
}
.fw-500{
    font-weight: 500;
}
/*  */
.ls-1{
    letter-spacing: 1px;
}