/* For whole Landing Page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Layout */
.flex{
    display: flex;
}
.fd-r{
    flex-direction: row;
}
.fd-c{
    flex-direction: column;
}
.ai-fs{
    align-items: flex-start;
}
.jc-sa{
    justify-content: space-around;
}
.ls-n{
    list-style: none;
}

/* Spacing */
.ml-a{
    margin-left: auto;
}
.mr-a{
    margin-right: auto;
}
.ml-40{
    margin-left: 40px;
}
.mb-20{
    margin-bottom: 20px;
}
.mt-20{
    margin-top: 20px;
}
.lh-1{
    line-height: 1.8;
}
.ml-130{
    margin-left: 130px;
}
.ml-70{
    margin-left: 70px;
}
.maxw-1300{
    max-width: 1300px;
}
.minw-1300{
    min-width: 1300px;
}
.ml-30{
    margin-left: 30px;
}