/* Layout */
.flex{
    display: flex;
}
.fd-r{
    flex-direction: row;
}
.fd-c{
    flex-direction: column;
}
.jc-fs{
    justify-content: flex-start;
}
.ai-c{
    align-items: center;
}
.jc-sa{
    justify-content: space-around;
}

/* Spacing */
.ml-180{
    margin-left: 180px;
}
.maxw-1000{
    max-width: 1000px;
}
.minw-1000{
    min-width: 1000px;
}
.ml-a{
    margin-left: auto;
}
.mr-a{
    margin-right: auto;
}
.ml-80{
    margin-left: 80px;
}
.w-200{
    width: 200px;
}
.mr-200{
    margin-right: 200px;
}
.h-450{
    height: 450px;
}
.h-600{
    height: 600px;
}
.h-500{
    height: 500px;
}
.w-500{
    width: 500px;
}
.h-300{
    height: 300px;
}
.w-400{
    width: 400px;
}
.w-300{
    width: 300px;
}
.mb-5{
    margin-bottom: 5px;
}
.ml-30{
    margin-left: 30px;
}

/* Styling */
.b-1-black-solid{
    border: 1px solid black;
}










