/* Layout Styles */
.flex{
    display: flex;
}
.fd-c{
    flex-direction: column;
}
.fd-r{
    flex-direction: row;
}
.jc-fs  {
    justify-content: flex-start;
}
.jc-c{
    justify-content: center;
}
.jc-sb{
    justify-content: space-between;
}
.jc-se{
    justify-content: space-evenly;
}
.ai-c{
    align-items: center;
}
.ai-fs{
    align-items: flex-start;
}
.fw-w{
    flex-wrap: wrap;
}
/* Positioning related styles */
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.right-0 {
    right: 0;
}
.top-10 {
    top: 10px;
}
/* CartComponent styles */

/* Main container */
.cart-container {
    background-color: #fff; /* Add a background color to make the component opaque */
    position: absolute; /* Position the component absolutely to overlap the cart link */
    top: 50px; /* Adjust the top value based on your layout */
    right: 0; /* Position the component to the right */
    z-index: 999; /* Ensure the component appears on top of other elements */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a box shadow for a subtle elevation effect */
    padding: 10px 20px; /* Add padding to the component */
}
/* Image and Restaurant Name Section */
.cart-image {
    width: 80px; /* Set a fixed width for the image container */
    height: 80px; /* Set a fixed height for the image container */
}