/* Layout */
.flex{
    display: flex;
}
.jc-sa{
    justify-content: space-around;
}
.jc-fs{
    justify-content: flex-start;
}
.jc-c{
    justify-content: center;
}
.jc-sb{
    justify-content: space-between;
}
.ai-c{
    align-items: center;
}
.ai-fs{
    align-items: flex-start;
}
.fd-r{
    flex-direction: row;
}
.fd-c{
    flex-direction: column;
}
.ta-c{
    text-align: center;
}
.fw-w{
    flex-wrap: wrap;
}

/* Spacing */
.h-20{
    height: 20px;
}
.h-400{
    height: 400px;
}
.h-100{
    height: 100px;
}
.ml-280{
    margin-left: 280px;
}
.ml-240{
    margin-left: 240px;
}
.mr-5{
    margin-right: 5px;
}
.mr-10{
    margin-right: 10px;
}
.ml-10{
    margin-left: 10px;
}
.w-200{
    width: 200px;
}
.w-500{
    width: 500px;
}
.h-300{
    height: 300px;
}
.h-200{
    height: 200px;
}
.h-40{
    height: 40px;
}
.w-300{
    width: 300px;
}
.w-100{
    width: 100px;
}
.w-a{
    width: auto;
}
.mb-10{
    margin-bottom: 10px;
}

/* Styling */
.ls-n{
    list-style: none;
}
.lh-2{
    line-height: 2;
}
.h-80{
    height: 80px;
}
.h-50{
    height: 50px;
}
.p-0-10{
    padding: 0px 10px;
}