/* For whole Page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Spacing */
.ml-a{
    margin-left: auto;
}
.mr-a{
    margin-right: auto;
}
.maxw-1000{
    max-width: 1000px;
}
.minw-1000{
    min-width: 1000px;
}